/.vscode
/.vs
/.idea
/venv
*.uexp
*.uasset
*.json
*.pyc
/Test_Assets
/test
/jsons
/UE4Parse.egg-info
/dist
/build
Pakreader_test.py
api.py
/testing-api
test2.py
oo2core_9_win64.dll
/setup.build/*
/setup.dist
/setup.onefile
/UE4Parse.build
/setup.onefile-build
/.eggs
mappings/++Fortnite+Release-17.00-CL-16593740-Windows_oo.usmap
*.bat
/.mypy_cache
/mappings
*.c
*.pyd