[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = "~=3.0a5"
Pillow = "*"
pycryptodome = "*"
pyusmap = "*"
quicktex = "*"
astc-decomp-faster = "*"

[dev-packages]

[requires]
python_version = "3.9"
